@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Welcome to harbargerdev's memory game. This is powered using .NET 5.0.
</div>
<div class="container">

</div>